#header {
    .clearfix;
    h1 {
        display:inline-block;
        margin-bottom: 0;
        display:inline-block;
}
margin-bottom: @baseLineHeight - 3px;
}
#mainMenu {
    float:right;
    li {
        margin-left: @baseLineHeight;
    float:right;
}
}
#featureBlurb li {
}
