#header {

}
blockquote {

}
#slideshow {
    .column(12);
}
#slideFrame {
    position:relative;
    margin: @baseLineHeight auto;
    .slide img{
}
}
#featureBlurb {
    ul {
        .row(10);
        .push(1);
        display:block;
        li {
            .column(5,10);
            height:@baseLineHeight*6;
}
}
}
#productPicker {
    .column(8)
}
#buyButtonSpace {
    .column(4);
}
#theFam {

    .column(4);
}
#aboutBlurb {
        .column(8);
}
