html, body {
font-family: "droid Sans";
overflow-x:hidden;
}
p {
    margin-bottom: @baseLineHeight;
}
h1, h2, h3 {
    font-weight:bold;
}
h1 {
font-size: @baseFontSize * 2;
line-height: @baseLineHeight * 3;
font-family:Orbitron;
}
h2 {
font-size: @baseFontSize * 2;
line-height: @baseLineHeight * 2;
}
h3 {
font-size: @baseFontSize * 1.5;
line-height: @baseLineHeight * 2;
}
h1.price {
font-family: "Permanent Marker";
font-size:@baseFontSize*4;
}

